:root {
  --scroll: 0; /* valeur entre 0 et 1 */
}
@font-face {
  font-family: 'Lobster Two';
  src: url('./fonts/lobstertworegular.ttf') format('truetype');
  font-weight: 100;
}

body {
  background-color: #D7B675;
  background-image: url("fond2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200vh;
  font-family: 'Lobster Two';
}

.positioncercle {
  width: 95%;
  height: auto;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  transition: none;
}

.logo {
  width: 120px;
  height: auto;
  position: fixed;
  top: clamp(10%, calc(25% - var(--scroll) * 18%), 25%); /* monte vers le haut */
  left: clamp(15%, calc(50% - var(--scroll) * 40%), 50%); /* se décale vers la gauche */
  transform: translate(-50%, -50%) scale(calc(1 - var(--scroll) * 0.6));
  display: flex;
  align-items: center;
  gap: calc(2rem - var(--scroll) * 1.5rem);
  transition: none;
}

.brand-name {
  width: auto;
  height: 30px;
  position: fixed;
  opacity: calc(100% - var(--scroll) * 100%);
  top: calc(45% - var(--scroll) * 20%); /* monte vers le haut */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: calc(2rem - var(--scroll) * 1.5rem);
  transition: none;
}

.hero {
  height: 100vh;
}

.hero2 {
  height: 100vh;
  width: 100%;
  position: relative;
}
.hero2-fixed {
  position: fixed;
  top: 15%;
  left: 0%;
  width: 100%;
}
/* États initiaux (invisibles) */
.titre,
.paragraphe {
  opacity: 0;
  transform: translateY(20px); /* petite translation vers le bas */
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #42382E;
  font-weight: 100;
}

/* Positionnement original */
.titre {
  max-width: 81%;
  font-size: 30px;
  color: #42382E;
  margin: 0%;
  padding-left: 9%;
  padding-right: 10%;
}

.paragraphe {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
  color: #625345;
  max-width: 80%;
}

/* Quand la section est visible à +50% */
.show-fixed {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
