body {
  background-color: #D7B675;
  background-image: url("fond.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200vh;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* pas cliquable */
}

#logo {
  width: 250px;
  transition: transform 0.1s ease-out;
  transform-origin: center;
  will-change: transform;
}